.accessibleRoot {
  display: inline-block;
  max-width: 100%;
}

.visualContainer {
  display: inline;
}

.wordBlock {
  display: inline-block;
  white-space: nowrap;
}

.char {
  display: inline-block;
  will-change: transform, opacity;
}

.word {
  display: inline-block;
  will-change: transform, opacity;
}

.space {
  display: inline;
}
